spaces are incorrectly replaced by +

**Steps:**

1.
 Here is the data URI for the phrase "Hello, how do you do?" : 

data:text/plain;charset=utf-8,Hello%2C%20how%20do%20you%20do%3F

it is generated at https://dopiaza.org/tools/datauri/index.php, **without** base64 encoding.

2

```java
    DataUri dataUri = DataUri.parse("data:text/plain;charset=utf-8,Hello%2C%20how%20do%20you%20do%3F", UTF_8);
    System.out.println(new String(dataUri.getData(), dataUri.getCharset()));
```

=> Hello,+how+do+you+do?

Expected: Hello, how do you do?

**The fix:**

Below are some doubts about mime types in data URIs, but pull request #11 provides a fix consistent with the current approach. This fix just updates the percentDecode's workaround for '+' for the case when data by itself has space characters in contrast to space characters created from pluses by URLDecoder.

------------------------------------------------------------------------------------------------
Obviously, this problem is caused by this commit: https://github.com/ooxi/jdatauri/commit/4f5b6dab6dd494eea1dc1acf63968bc415edd9b8.

But it's not clear what motivates this commit, unfortunately no unit test was added. URLDecoder is the right approach to decode values from an URI, why should we un-do the '+' to ' ' decoding it performs? If something in a data: URI needs to have a + in it, the + should be URLEncoded as %2B. That's how I read the [RFC 2397](https://tools.ietf.org/html/rfc2397).

Is that a problem with mime-types containing '+" ? For example, https://dopiaza.org/tools/datauri/index.php generates the following data URL for content "<a>1+1=2</a>" and mime type application/atom+xml without base64: data:application/atom+xml;charset=utf-8,%3Ca%3E1%2B1%3D2%3C%2Fa%3E. Here the + in the data is URLEncoded by %2B, while the + in mime-type is left unencoded. In my understanding of the RFC it's wrong. Anyways, even if leaving the + unencoded in mime type is correct, then we should only un-do the + to space decoding when parsing the mime type, but not when parsing the data.

Why I think the RFC requires URLEncoding + in the mime type. Secion 3 "Syntax" of the RFC says:

> "type", "subtype",
   "attribute" and "value" are the corresponding tokens from [RFC2045],
   represented using URL escaped encoding of [RFC2396] as necessary.

Note, "URL escaped encoding of [RFC2396] as necessary"
